<!DOCTYPE html>
<head>
    <title>{{deck.name}}</title>
</head>

<body>
    <h1>{{deck.name}}</h1>
    <h2>by {{deck.username}}</h2>
    <p>created at {{deck.created_at}}</p>
    <p>Cards:</p>

    {% for card in cards %}
    <p>
        question: {{card.question}}, answer: {{card.answer}}
    </p>
    {% endfor %}

    {% if session["user_id"] == deck.user_id  and new_card == False%}
    <a href="/new_card_form/{{ deck.id }}">Add new cards</a>
    <p></p>
    <a href="/edit_deck/{{ deck.id }}">edit cards</a>
    {% elif session["user_id"] == deck.user_id and new_card == True%}

    <form action="/add_card" method="post">
        <p>New card:</p>
        Question:<input type="text" name="question" />
        Answer:<input type="text" name="answer" />
        <input type="hidden" value="{{ deck.id }}" name="deck_id" />
        <input type="submit" value="Submit"/>
    </form>


    {% endif %}
    <p></p>
    <a href="/">Go back</a>
</body>