<!DOCTYPE html>
<head>
    <title>{{deck.name}}</title>
</head>

<body>
    <h1>{{deck.name}}</h1>
    <h2>by <a href="/user/{{ deck.user_id }}/{{ deck.username }}">{{deck.username}}</a></h2>
    <h3>Rating: 
    {% if ratings|length > 0 %}
    <label>{{ ratings.average }}/5 ({{ ratings.count }} ratings)</label>
    {% elif ratings|length == 0 %}
    <label>No ratings yet</label>
    {% endif %}
    </h3>
    <p>created at {{deck.created_at}}</p>
    <a>Categories:</a>
    {% for category in categories %}
    <span style="white-space: nowrap;">{{ category.category }} /</span>
    {% endfor %}
    <br />
    <a href="/categories/{{ deck.id }}">Add category</a>
    <p>Cards:</p>

    {% for card in cards %}
    <hr />
    <p>
        question: {{card.question}} <|> answer: {{card.answer}}
    </p>
    {% endfor %}
    <hr />

    {% if session["user_id"] == deck.user_id  and new_card == False%}
    <a href="/new_card_form/{{ deck.id }}">Add new cards</a>
    <p></p>
    <a href="/edit_deck/{{ deck.id }}">Edit cards</a>
    <p></p>
    <a href="/delete_deck/{{ deck.id }}/verification">Delete</a>
    {% elif session["user_id"] == deck.user_id and new_card == True%}

    <form action="/add_card" method="post">
        <p>New card:</p>
        Question:<input type="text" name="question" required />
        Answer:<input type="text" name="answer" required />
        <input type="hidden" value="{{ deck.id }}" name="deck_id" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
        <input type="submit" value="Submit"/>
    </form>


    {% endif %}
    {% if session["user_id"] %}
    <form action="/add_rating/{{ deck.id }}" method="post">
        <label for="rating">Rate this deck (1-5):</label><br/>
        <input type="number" id="rating" name="rating" min="1" max="5" step="1" value="5">
        <input type="submit" value="Submit rating">
    </form>
    {% for messsage in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    <p></p>
    <a href="/">Go back</a>
</body>