<!DOCTYPE html>
<head>
    <title>Edit deck</title>
</head>

<body>
    <h1><b>Edit deck</b></h1>
    <a href="/deck/{{ deck.id }}" type="button">Go back</a>
    <hr />
    <p></p>
    <form action="/edit_deck_name_and_description/{{ deck.id }}" method="post">
        <a>Edit deck name:</a><br />
        <input type="text" name="deck_name" value="{{ deck.name }}" required maxlenght="50"/>
        <p></p>
        <a>Edit description:</a><br />
        <textarea type="textarea" name="description" rows="5" cols="40" required maxlength="400">{{ deck.description }}</textarea>
        <br />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
        <input type="submit" value="Submit changes" />
    </form>
    {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}

    {% for card in cards %}
    <hr />
    {% if card.id != card_id %}
    <p>Question: {{ card.question }}, Answer: {{ card.answer }}</p>
    <form action="/edit_card/delete/{{ card.id }}" method="post">
        <input type="submit" value="delete" />
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
    </form>
    <form action="/edit_card/edit/{{ card.deck_id }}/{{ page }}/{{ page_count }}/{{ card.id }}" method="post">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
        <input type="submit" value="edit" />
    </form>
    {% elif card.id == card_id %}
        {% for message in get_flashed_messages() %}
    <p>{{ message }}</p>
    {% endfor %}
    <form action="/edit_card/update/{{ deck.id }}/{{ card.id }}" method="post">
        <input type="text" value="{{card.question}}" name="question" required maxlength="100">
        <input type="text" value="{{card.answer}}" name="answer" required maxlength="300"/>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
        <input type="submit" value="Submit"/>
    </form>

    </form>
    {% endif %}
    {% endfor %}
    <p>
        <a href="/edit_deck/{{ deck.id }}/{{ page - 1 }}">&lt;&lt;</a>
        Sivu {{ page }}/{{ page_count }}
        <a href="/edit_deck/{{ deck.id }}/{{ page + 1 }}">&gt;&gt;</a>
    </p>
    <hr />
</body>