<!DOCTYPE html>

<head>
    <title>Frontpage</title>
</head>

<body>
    {% if session.username %}
    <h1>Flashdecks</h1>
    <h2>Welcome <a href="/user/{{session.user_id}}/{{session.username}}">{{session.username}}</a></h2>
    <form action="/logout" method="post">
        <button>logout</button>
    </form>
    <form action="/new_deck">
        <button>New flashcard deck</button>
    </form>

    {% else %}
    <h1><b>Flashcards</b></h1> 
    <a href="/register">Register</a>
    or
    <a href="/login_page">Login</a>

    {% endif %}
    <h1><b>Search</b></h1>
    <a>Keyword or category:</a>
    <form action="/search" method="get">
    <p>
      {% if query %}
      <input type="text" name="query" value="{{ query }}" />
      {% else %}
      <input type="text" name="query" />
      {% endif %}
    </p>
    <input type="submit" value="Search" />
    </form>

    <h2><b>Decks</b></h2>
    {% for deck in deck_list %}
    <hr />
    <p><a href="/deck/{{ deck.id }}">{{ deck.name }}</a> - Cards: {{ deck.total }}</p>
    <a><b>Categories: </b>  </a>
    {% for category in category_list %}
    {% if category.deck_id == deck.id %}
    <span style="white-space: nowrap;"><a href="/category/{{ category.category }}">{{ category.category }}</a> /</span>
    {% endif %}
    {% endfor %}
    {% for rating in ratings_list %}
    {% if rating.deck_id == deck.id %}
    <p><b>Rating:</b> {{ rating.average }}/5</p>
    {% endif %}
    {% endfor %}
    <p><b>Description:</b> {{ deck.description }}</p>
    <p>by <a href="/user/{{ deck.user_id }}/{{ deck.username }}">{{ deck.username }}</a> at {{ deck.created_at }}</p>
    {% endfor %}
    </p>
    <p>
    <a href="/{{ page - 1 }}">&lt;&lt;</a>
    Page {{ page }}/{{ page_count }}
    <a href="/{{ page + 1 }}">&gt;&gt;</a>
    </p>
    <hr />
</body>