<!DOCTYPE html>

<head>
    <title>Frontpage</title>
</head>

<body>
    {% if session.username %}
    <h1>Welcome {{session.username}}</h1>
    <p>Sign out</p>
    <form action="/logout" method="post">
        <button>logout</button>
    </form>
    <form action="/new_deck">
        <button>New flashcard deck</button>
    </form>

    {% else %}
    <h1><b>Flashcards</b></h1> 
    <p><b>Sign in</b></p>
    <form action="/register">
        <button>Here</button>
    </form>
    <p>or</p>
    <p><b>Log in</b></p>
    <form action="/login_page">
        <button>Here</button>
    </form>

    {% endif %}

    <h2><b>Decks</b></h2>
    {% for deck in deck_list %}
    <hr />
    <p><a href="/deck/{{ deck.id }}">{{ deck.name }}</a> - Cards: {{ deck.total }}</p>
    <p>{{ deck.description }}</p>
    <p>by {{ deck.username }} at {{ deck.created_at }}</p>
    {% endfor %}
    </p>
</body>