<!DOCTYPE html>
<head>
    <title>New deck</title>
</head>

<body>
    {% for message in get_flashed_messages() %}
    <h3><b>{{ message }}</b></h3>
    {% endfor %}
    <form action="/create_deck" method="post">
        <p>Deck name:</p>
        <input type="text" name="name" value="{{ deck_name }}" required maxlength="30"/>
        <p>Enter description: <br/>
        <textarea type="text" name="description" rows="5" cols="40" required maxlength="150">{{ description }}</textarea>
        <p>Cards:</p>
        {% for card in cards %}
        <div>
            <hr />
            <a>Card {{ loop.index }}</a>
            <br/>
            <a>Question: </a>
            <input type="text" name="questions[]" value="{{ card['question'] }}" required maxlength="60"/>
            <br />
            <a>Answer:</a>
            <input type="text" name="answers[]" value="{{ card['answer'] }}" required maxlength="60"/>
        </div>
        {% endfor %}
        <p></p>
        <button type="submit" formaction="/add_card_field">New card</button>
        <hr />
        <p></p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}"/>
        <input type="submit" value="Create Deck">
    </form>
</body>